@import '../mixins.scss';

.filter-sort {
  &__container {
    padding: 12px;
    max-width: 700px;
    margin: auto;
  }

  &__filter-wrapper {
    display: flex;
    flex-wrap: wrap;

    .filter-each-wrapper {
      border-color: #636363;
      border-radius: 4px;
      margin: 10px 0;
      position: relative;

      &:first-child {
        width: 100%;
      }

      .active-filter {
        background: #dbdbdb;
        border-radius: 4px;
        padding: 8px;
        cursor: pointer;
      }

      .filter-list-container {
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 4px 8px 8px;
        border-radius: 0 0 4px 4px;
        border-bottom: 1px solid #636363;
        border-left: 1px solid #636363;
        border-right: 1px solid #636363;
        position: absolute;
        width: 100%;
        left: 0;
        max-height: 300px;
        z-index: 99;
        overflow-y: auto;
        cursor: pointer;

        &.overlap-clear {
          z-index: 999;
        }

        .filter-option {
          padding: 6px 0;
        }
      }
    }

    .count-filter {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0 4px;
      width: 100%;

      .active-filter {
        margin: 6px auto auto;
      }
    }
  }

  &__sort-wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0;

    .sort-body {
      text-transform: capitalize;
      margin: 0 0 0 6px;
      position: relative;
      cursor: pointer;

      .current-sort {
        background: #dbdbdb;
        border-radius: 4px;
        padding: 8px;
        width: 200px;
      }

      .sort-list {
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 4px 8px 8px;
        border-radius: 0 0 4px 4px;
        border-bottom: 1px solid #636363;
        border-left: 1px solid #636363;
        border-right: 1px solid #636363;
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 99;
        overflow-y: auto;

        li>div {
          padding: 6px 0;
        }
      }
    }
  }
}

.filter-error-msg {
  margin: 20px auto 0;
  padding: 0 12px;
  max-width: 700px;
}

@include s768 {
  .filter-sort {
    &__container {
      max-width: 400px;
    }
  }
}

@include s1080 {
  .filter-sort {
    &__container {
      margin: 0 0 0 2%;
    }
  }
}

@include s1200 {
  .filter-sort {
    &__container {
      padding: 12px 40px;
      max-width: none;
      width: 500px;
    }
  }
}
