.title {
  background: #2e9cca;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  padding: 8px;
  text-transform: capitalize;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
