@import '../mixins.scss';

.repo-table {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    max-width: 700px;
    margin: auto;

    .repo-card {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 14px 0;
      padding: 16px;

      .avatar-img {
        margin: auto 0;
        width: 50px;
      }

      .text-data-wrapper {
        margin: 0 0 0 10px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 500px;
        overflow-wrap: anywhere;

        h4 {
          font-size: 30px;
          font-weight: normal;
        }

        p {
          margin: 2px;
          text-transform: capitalize;

          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}

@include s768 {
  .repo-table {
    &__container {
      height: 100vh;
      position: relative;
      overflow-y: auto;
    }
  }
}

@include s1080 {
  .repo-table {
    &__container {
      height: 100vh;
      position: absolute;
      right: 2%;
      top: 50px;
      padding: 12px 12px 100px;
      overflow-y: auto;

      .repo-card {
        .text-data-wrapper {
          margin: 0 0 0 20px;
        }
      }
    }
  }
}

@include s1200 {
  .repo-table {
    &__container {
      right: 4%;
      padding: 40px 40px 100px;
    }
  }
}
